<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>
<%@ Assembly Name="SchemaExplorer" Path="../../libs" %>
<%@ Assembly Name="CodeSmith.Abp"  Path="../../libs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith.Abp" %>
<%@ Import Namespace="CodeSmith.Abp.Extensions" %>
<%@ Import Namespace="CodeSmith.Abp.Model" %>
<%@ Import Namespace="CodeSmith.Abp.Generator" %>

<%@ Property Name="AbpCoreNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="ApplicationNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="BaseApplicationClassName" Type="System.String"  Category="ClassName" Optional="False" %>
<%@ Property Name="Entity"Type="CodeSmith.Abp.Model.Entity" Category="Data" Optional="False" %>
using System.Linq;
using <%=ApplicationNamespace%>.<%= Entity.ClassName.ToPluralPascalCase() %>.Dtos;
using <%=AbpCoreNamespace%>.<%= Entity.ClassName.ToPluralPascalCase() %>;

namespace <%=ApplicationNamespace%>.<%= Entity.TableName.ToPluralPascalCase() %>
{
    public partial class <%= Entity.ClassName %>AppService 
    {
        public <%= Entity.ClassName %>AppService(I<%= Entity.ClassName %>Repository repository)
            : base(repository)
        {

        }
        
        /// <summary>
        /// 数据检索
        /// </summary>
        /// <param name="input"></param>
        /// <returns></returns>
        protected override IQueryable<<%=AbpCoreNamespace%>.<%= Entity.ClassName.ToPluralPascalCase() %>.<%= Entity.ClassName %>> CreateQueryable(Get<%= Entity.ClassName.ToPluralPascalCase() %>PageInput input)
        {
            IQueryable<<%=AbpCoreNamespace%>.<%= Entity.ClassName.ToPluralPascalCase() %>.<%= Entity.ClassName %>> queryable = base.CreateQueryable(input);
            return queryable;
        }
    }
}
