<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>
<%@ Assembly Name="SchemaExplorer" Path="../../libs" %>
<%@ Assembly Name="CodeSmith.Abp"  Path="../../libs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith.Abp" %>
<%@ Import Namespace="CodeSmith.Abp.Extensions" %>
<%@ Import Namespace="CodeSmith.Abp.Model" %>
<%@ Import Namespace="CodeSmith.Abp.Generator" %>

<%@ Property Name="AbpCoreNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="RepositoryNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="AbpEntityFrameworkNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="RepositoryBaseClassName" Type="System.String"  Category="ClassName" Optional="False" %>
<%@ Property Name="DbContextClassName" Type="System.String"  Category="ClassName" Optional="False" %>
<%@ Property Name="Entity"Type="CodeSmith.Abp.Model.Entity" Category="Data" Optional="False" %>
using Abp.EntityFramework;
<% if(RepositoryNamespace != AbpCoreNamespace) { %>
using <%= AbpCoreNamespace %>.<%= Entity.TableName.ToPluralPascalCase() %>;
<% }  %>
<% if(RepositoryNamespace != AbpEntityFrameworkNamespace) { %>
using <%= AbpEntityFrameworkNamespace %>;
<% }  %>

namespace <%=RepositoryNamespace%>
{
    /// <summary>
    /// Implements <see cref="I<%= Entity.ClassName %>Repository"/> for EntityFramework ORM.
    /// </summary>
    public partial class <%= Entity.ClassName %>Repository : <%=RepositoryBaseClassName%><<%= Entity.ClassName %>,<%= Entity.Properties.First(t=>t.ColumnName=="Id").SystemType.ToNullableType() %>>, I<%= Entity.ClassName %>Repository
    {
        public <%= Entity.ClassName %>Repository(IDbContextProvider<<%=DbContextClassName%>> dbContextProvider)
            : base(dbContextProvider)
        {
        }
    }
}