<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>
<%-- 解析dll类库 --%>
<%@ Assembly Name="CodeSmith" Path="../../../libs" %>
<%-- 导入命名空间 --%>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith" %>
<%-- 模板参数 --%>
<%@ Property Name="AbpWebNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="Entity"Type="CodeSmith.AbpEntity" Category="Data" Optional="False" %>
<div id="layout" class="easyui-layout" fit="true">
    @{
        var html = Tb();
        if (html != "")
        {
            <div data-options="region:'north'" border="false" class="button_area">@Html.Raw(html)</div>
            @*  <div data-options="region:'north'" border="false" class="button_area">
                    <a href="javascript:;" onclick="javascript: window.page.onCreate();" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a>
                    <a href="javascript:;" onclick="javascript: window.page.onModify();" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
                    <a href="javascript:;" onclick="javascript: window.page.onRemove();" class="easyui-linkbutton" data-options="iconCls:'icon-add'">移除</a>
                </div>*@
        }
    }
    <div data-options="region:'center'" border="false">
        <table id="datagrid"></table>
    </div>
</div>
<!--搜索条件面板-->
@*<div id="toolbar" class="toolbar">
    <form id="search_form" method="POST">
        <input type="hidden" name="Id" />
        <div style="width: 80%">
            <ul>
<% foreach(AbpEntityProperty property in Entity.Properties){%>
                <li>
                    <label><%= property.Explain %>:</label>
                    <input class="easyui-textbox" name="<%= property.PropertyName.ToSafeName() %>"  />
                </li>  
<%}%>             
            </ul>
        </div>
    </form>
</div>*@
@section Scripts
{
    <script type="text/javascript">
        (function () {
            var page = {
                load: function () {
                    $('#datagrid').datagrid({
                        url: '/Service/<%= Entity.ClassName.ToSafeName() %>/PageQuery',                   
                        idField: '<%= Entity.PrimaryKey!=null?Entity.PrimaryKey.PropertyName.ToSafeName():"Id" %>',
                        singleSelect: true,
                        border: false,
                        pagination: true,
                        fit: true,
                        nowrap: false,
                        columns: [[
                            <%=GetGridAllColumn(Entity)%>
                        ]]
                    });
                },            
                onCreate: function () {
                    ///<summary>创建</summary>
                    $.parentWindow({
                        title: '创建',
                        url: '/<%= Entity.ClassName.ToSafeName() %>/Edit',
                        onClose: function () {
                            $('#datagrid').datagrid('reload');
                        }
                    });
                },
                onModify: function () {
                    ///<summary>修改</summary>
                    $('#datagrid').datagrid('getSelectedOf', function (row) {
                        ///<summary>创建</summary>
                        $.parentWindow({
                            title: '修改',
                            url: '/<%= Entity.ClassName.ToSafeName() %>/Edit/?id=' + row.Id,
                            onClose: function () {
                                $('#datagrid').datagrid('reload');
                            }
                        });
                    });
                },
                onRemove: function () {
                    ///<summary>移除</summary>
                    $('#datagrid').datagrid('getSelectedOf', function (row) {
                        $.confirm('确认是否删除?', function (r) {
                            if (r) {
                                $.useajax('/Service/<%= Entity.ClassName.ToSafeName() %>/Delete', { Id: row.Id }, function () {
                                    $('#datagrid').datagrid('reload');
                                });
                            }
                        });
                    });
                }
            };
            $(page.load);
            window.page = page;
        }());

    </script>
}
<script runat="template">
public string GetGridAllColumn(AbpEntity entity)
{
    string html = "";
    List<AbpEntityProperty> properties = entity.Properties.ToList();
    string pkProperty = entity.PrimaryKey == null
        ? "Id"
        : entity.PrimaryKey.PropertyName.ToSafeName();
    properties.RemoveAll(
        property => property.PropertyName == pkProperty ||
                    property.PropertyName.ToSafeName() == "CreatorUserId" ||
                    property.PropertyName.ToSafeName() == "CreationTime" ||
                    property.PropertyName.ToSafeName() == "LastModificationTime" ||
                    property.PropertyName.ToSafeName() == "LastModifierUserId" ||
                    property.PropertyName.ToSafeName() == "DeleterUserId" ||
                    property.PropertyName.ToSafeName() == "DeletionTime" ||
                    property.PropertyName.ToSafeName() == "TenantId" ||
                    property.PropertyName.ToSafeName() == "IsDeleted" ||
                    property.PropertyName.ToSafeName() == "Sort" ||
                    property.IsForeignKey.HasValue && property.IsForeignKey.Value);
    for (int i = 0; i < properties.Count(); i++)
    {
        AbpEntityProperty property = properties[i];
        switch (property.SystemType.ToNullableType())
        {
            case "System.DateTime":
                html += "{" +
                  string.Format(
                      " field: '{0}', title: '{1}', width: '{2}%', align: 'center', sortable: true , formatter: $.girdFormatter.date ",
                      property.PropertyName.ToSafeName(),
                      property.Explain,
                      (properties.Any() ? 95 / properties.Count() : 99)) +
                  "}" + (i == properties.Count()-1 ? "" : ",") + "\r\t\t\t\t\t\t\t\t";
                break;
            case "bool":
                html += "{" +
                      string.Format(
                          " field: '{0}', title: '{1}', width: '{2}%', align: 'center', sortable: true , formatter: $.girdFormatter.bool ",
                          property.PropertyName.ToSafeName(),
                          property.Explain,
                          (properties.Any() ? 95 / properties.Count() : 99)) +
                      "}" + (i == properties.Count()-1 ? "" : ",") + "\r\t\t\t\t\t\t\t";
                break;
            default:
                html += "{" +
                        string.Format(
                            " field: '{0}', title: '{1}', width: '{2}%', align: 'center', sortable: true ",
                            property.PropertyName.ToSafeName(),
                            property.Explain,
                            (properties.Any() ? 95 / properties.Count() : 99)) +
                        "}" + (i == properties.Count()-1 ? "" : ",") + "\r\t\t\t\t\t\t\t\t";
                break;
        }
    }
    return html;
}
</script>