<%@ Template Language="C#" TargetLanguage="Text" Debug="True" Encoding="UTF-8" OutputType="None"  %>
<%@ Assembly Name="SchemaExplorer" Path="../../../libs" %>
<%@ Assembly Name="CodeSmith.Abp"  Path="../../../libs"   %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith.Abp" %>
<%@ Import Namespace="CodeSmith.Abp.Extensions" %>
<%@ Import Namespace="CodeSmith.Abp.Model" %>
<%@ Import Namespace="CodeSmith.Abp.Generator" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>

<%@ Property Name="AbpCoreNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="ApplicationNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="AbpWebNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="ApiControllerNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="ControllerNamespace" Type="System.String"  Category="Namespace" Optional="False" %>

<%@ Property Name="BaseApiControllerClassName" Type="System.String"  Category="ClassName" Optional="False" %>
<%@ Property Name="BaseControllerClassName" Type="System.String"  Category="ClassName" Optional="False" %>

<%@ Property Name="SoureDatabase"Type="SchemaExplorer.DatabaseSchema" Category="Data" Optional="False" %>

<%@ Register Name="WebApiGeneratedClass" Template="Abp.Web.Api.Generated.cst" %>
<%@ Register Name="WebApiEditableClass" Template="Abp.Web.Api.Editable.cst" %>
<%@ Register Name="WebControllerClass" Template="Abp.Web.Controller.cst" %>
<%@ Register Name="WebEditClass" Template="Abp.Web.Edit.cst" %>
<%@ Register Name="WebListClass" Template="Abp.Web.List.cst" %>
<% Generator();%>
 
<script runat="template">

public void Generator()
{
    string rootPath = System.IO.Directory.GetCurrentDirectory();
    CodeSmith.Abp.Generator.Generator generator = new CodeSmith.Abp.Generator.Generator();    
    CodeSmith.Abp.Model.EntityContext context = generator.Generate(SoureDatabase);
    
    AbpGenerator.CreateMultipleEntityClass<WebApiGeneratedClass,WebApiEditableClass>(context,
        this,
        entity => @"Areas\Api\Controllers\"+entity.ClassName + @"Controller.Generated.cs",
        entity => @"Areas\Api\Controllers\"+entity.ClassName + @"Controller.cs",
        rootPath);
    
    AbpGenerator.CreateEntityClass<WebControllerClass>(context,
        this,
        entity => @"Controllers\"+entity.ClassName + @"Controller.cs",
        rootPath,
        false);

    AbpGenerator.CreateEntityClass<WebEditClass>(context,
        this,
        entity => @"Views\"+entity.ClassName + @"\Edit.cshtml",
        rootPath,
        false);
    
    AbpGenerator.CreateEntityClass<WebListClass>(context,
        this,
        entity => @"Views\"+entity.ClassName + @"\List.cshtml",
        rootPath,
        false);
}
</script>