<%@ Template Language="C#" TargetLanguage="HTML" Debug="True" Encoding="UTF-8" %>
<%@ Assembly Name="SchemaExplorer" Path="../../libs" %>
<%@ Assembly Name="CodeSmith.Abp"  Path="../../libs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith.Abp" %>
<%@ Import Namespace="CodeSmith.Abp.Extensions" %>
<%@ Import Namespace="CodeSmith.Abp.Model" %>
<%@ Import Namespace="CodeSmith.Abp.Generator" %>

<%@ Property Name="ApplicationNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="Entity"Type="CodeSmith.Abp.Model.Entity" Category="Data" Optional="False" %>
@model  <%=ApplicationNamespace%>.<%= Entity.ClassName.ToPluralPascalCase() %>.Dtos.<%= Entity.ClassName %>Dto
<div class="edit-container">
    <div class="content-container">
        <form id="form" method="POST">
            <input name="Id" type="hidden" value="@(Model.Id==0?"":Model.Id.ToString())" />
            <table>
<% foreach(Property property in Entity.Properties.Where(t=>t.PropertyName!="Id")){%>
                <tr>
                    <th width="120"><%=property.Describe  %></th>
                    <td>                        
                        <input name="<%= property.PropertyName %>" class="easyui-textbox" data-options="required:true" value="@Model.<%= property.PropertyName %>" />
                    </td>
                </tr> 
<%}%>                                          
            </table>
        </form>
    </div>
    <div class="button-container">
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="javascript: window.page.submit();">提交</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="javascript: window.page.cancle();">取消</a>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        (function () {
            var page = {
                load: function () {
                    page.resize();
                    $(window).resize(page.resize);
                },
                resize: function () {
                    $('.content-container').height($(window).height() - 41);
                },
                submit: function () {
                    var url, id = $('input[name="Id"]').val();
                    if (id.length > 0) {
                        url = '/Api/<%= Entity.ClassName %>/Modify';
                    } else {
                        url = '/Api/<%= Entity.ClassName %>/Create';
                    }
                    $('#form').form('commit', {
                        url: url,
                        onSuccess: function (result) {
                            if (result.Success) {
                                $.show(result.Message, function () {
                                    parent.$('#w').window('close');
                                });
                            } else {
                                $.alert(result.Message);
                            }
                        }
                    });

                },
                cancle: function () {
                    parent.$('#w').window('close');
                }
            };
            $(page.load);
            window.page = page;
        }());
    </script>
}

