<%@ Template Language="C#" TargetLanguage="HTML" Debug="True" Encoding="UTF-8" %>
<%@ Assembly Name="SchemaExplorer" Path="../../libs" %>
<%@ Assembly Name="CodeSmith.Abp"  Path="../../libs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith.Abp" %>
<%@ Import Namespace="CodeSmith.Abp.Extensions" %>
<%@ Import Namespace="CodeSmith.Abp.Model" %>
<%@ Import Namespace="CodeSmith.Abp.Generator" %>

<%@ Property Name="Entity"Type="CodeSmith.Abp.Model.Entity" Category="Data" Optional="False" %>
<div id="layout" class="easyui-layout" fit="true">
    <div data-options="region:'north'" border="false" class="button_area">
        <a href="javascript:;" onclick="javascript: window.page.opencreate();" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a>
        <a href="javascript:;" onclick="javascript: window.page.openmodify();" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
        <a href="javascript:;" onclick="javascript: window.page.remove();" class="easyui-linkbutton" data-options="iconCls:'icon-add'">移除</a>
    </div>
    <div data-options="region:'center'" border="false">
        <table id="datagrid"></table>
    </div>
</div>
<!--搜索条件面板-->
@*<div id="toolbar" class="toolbar">
    <form id="search_form" method="POST">
        <input type="hidden" name="Id" />
        <div style="width: 80%">
            <ul>
<% foreach(Property property in Entity.Properties){%>
                <li>
                    <label><%= property.Describe %>:</label>
                    <input class="easyui-textbox" name="<%= property.PropertyName %>"  />
                </li>  
<%}%>             
            </ul>
        </div>
    </form>
</div>*@
@section Scripts
{
    <script type="text/javascript">
        (function () {
            var page = {
                load: function () {
                    $('#datagrid').datagrid({
                        url: '/Api/<%= Entity.ClassName %>/PageQuery',
                        title: '列表',
                        idField: 'Id',
                        selectOnCheck: false,
                        border: false,
                        pagination: true,
                        fit: true,
                        nowrap: false,
                        columns: [[
<% foreach(Property property in Entity.Properties){%>
                                { field: '<%= property.PropertyName %>', title: "<%=property.Describe  %>", width: '<%=  Convert.ToInt32(90/Entity.Properties.Count())%>%', align: 'center', sortable: true },
<%}%>                                                                 
                                { field: 'Operation', title: "操作" }                              
                            ]]
                    });
                },            
                opencreate: function () {
                    ///<summary>创建</summary>
                    $.parentWindow({
                        title: '创建',
                        url: '/<%= Entity.ClassName %>/Edit',
                        onClose: function () {
                            $('#datagrid').datagrid('reload');
                        }
                    });
                },
                openmodify: function () {
                    ///<summary>修改</summary>
                    $('#datagrid').datagrid('getSelectedOf', function (row) {
                        ///<summary>创建</summary>
                        $.parentWindow({
                            title: '修改',
                            url: '/<%= Entity.ClassName %>/Edit/?id=' + row.Id,
                            onClose: function () {
                                $('#datagrid').datagrid('reload');
                            }
                        });
                    });
                },
                remove: function () {
                    ///<summary>移除</summary>
                    $('#datagrid').datagrid('getSelectedOf', function (row) {
                        $.confirm('确认是否删除?', function (r) {
                            if (r) {
                                $.useajax(' /Api/<%= Entity.ClassName %>/Delete', { Id: row.Id }, function () {
                                    $('#datagrid').datagrid('reload');
                                });
                            }
                        });
                    });
                }
            };
            $(page.load);
            window.page = page;
        }());

    </script>
}
