<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>
<%@ Assembly Name="SchemaExplorer" Path="../../../libs" %>
<%@ Assembly Name="CodeSmith.Abp"  Path="../../../libs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith.Abp" %>
<%@ Import Namespace="CodeSmith.Abp.Extensions" %>
<%@ Import Namespace="CodeSmith.Abp.Model" %>
<%@ Import Namespace="CodeSmith.Abp.Generator" %>

<%@ Property Name="AbpCoreNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="MappingNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="ContextNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="DbContextClassName" Type="System.String"  Category="ClassName" Optional="False" %>
<%@ Property Name="EntityContext" Type="CodeSmith.Abp.Model.EntityContext"  Category="Data" %>
namespace <%= ContextNamespace %>
{
    public partial class <%= DbContextClassName %>
    {
        partial void InitializeContext()
        {
            
        }

        partial void InitializeMapping(System.Data.Entity.DbModelBuilder modelBuilder)
        {
            
        }   
    }
}