<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>
<%@ Assembly Name="SchemaExplorer" Path="../../../libs" %>
<%@ Assembly Name="CodeSmith.Abp"  Path="../../../libs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith.Abp" %>
<%@ Import Namespace="CodeSmith.Abp.Extensions" %>
<%@ Import Namespace="CodeSmith.Abp.Model" %>
<%@ Import Namespace="CodeSmith.Abp.Generator" %>

<%@ Property Name="AbpCoreNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="MappingNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="Entity"Type="CodeSmith.Abp.Model.Entity" Category="Data" Optional="False" %>
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Text;
<% if(MappingNamespace != AbpCoreNamespace) { %>
using <%= AbpCoreNamespace %>.<%= Entity.TableName.ToPluralPascalCase() %>;
<% }  %>

namespace <%= MappingNamespace %>
{
    public partial class <%= Entity.MappingName.ToSafeName() %>
    {
        private static void InitializeMapping()
        {

        }
    }
}