<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>
<%-- 解析dll类库 --%>
<%@ Assembly Name="CodeSmith" Path="../../../libs" %>
<%-- 导入命名空间 --%>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith" %>
<%-- 模板参数 --%>
<%@ Property Name="Entity" Type="CodeSmith.AbpEntity"  %>
<%@ Property Name="AbpEntityFrameworkNamespace" Type="System.String"  %>
using System;
using System.Collections.Generic;
using System.Data.Entity;
using Abp.EntityFramework;

// ReSharper disable once CheckNamespace
namespace <%= AbpEntityFrameworkNamespace %>
{
    public partial class <%= Entity.MappingName.ToSafeName() %>
    {
        private static void InitializeMapping()
        {

        }
    }
}