<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>
<%@ Assembly Name="CodeSmith.Abp0741"  Path="../../../libs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith.Abp0741" %>
 
<%@ Property Name="AbpCoreNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="Entity"Type="CodeSmith.Abp.Model.Entity" Category="Data" Optional="False" %>
<%@ Property Name="EnumItems"Type="System.Collections.Generic.List<EnumItem>" Category="Data"  %>

namespace <%= AbpCoreNamespace %>.<%= Entity.TableName.ToPluralPascalCase() %>
{
    public partial class <%= Entity.ClassName.ToSafeName() %>
    {
    
    }
}

