<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>
<%-- 解析dll类库 --%>
<%@ Assembly Name="CodeSmith" Path="../../../libs" %>
<%-- 导入命名空间 --%>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="CodeSmith" %>
<%-- 模板参数 --%>
<%@ Property Name="AbpApplicationNamespace" Type="System.String"  Category="Namespace" Optional="False" %>
<%@ Property Name="Entity" Type="CodeSmith.AbpEntity" Category="Data" Optional="False" %> 
<%@ Property Name="AbpCoreNamespace" Type="System.String"  %>
using System;
using System.Collections.Generic;
using Abp.Application.Services.Dto;
using Abp.AutoMapper;
using Abp.Domain.Entities;
using Abp.Domain.Entities.Auditing;
using <%=AbpCoreNamespace%>;
using <%=AbpCoreNamespace + "." + Entity.ClassName.ToPluralName()%>;

namespace <%= AbpApplicationNamespace %>.<%= Entity.ClassName.ToPluralName() %>.Dto
{
    [AutoMapTo(typeof(<%= Entity.ClassName.ToSafeName() %>))]
    public class Get<%= Entity.ClassName.ToSafeName() %>PageInput
    {        
<% foreach(var p in Entity.Properties) { %>
        <%if(p.IsEnum){%>
        /// <summary>
        /// <%= p.Explain %>
        /// </summary>    
        public <%= p.EnumType %>? <%= p.PropertyName.ToSafeName() %> { get; set; }
        <% }else{%> 
        /// <summary>
        /// <%= p.Explain %>
        /// </summary>    
        public <%= p.SystemType.ToNullableType(true) %> <%= p.PropertyName.ToSafeName() %> { get; set; }
        <%}%>                      
<% } // foreach %>
    }
}

